/* navbar brand */
.navbar-brand {
  font-size: 1.8em;
}


/* navbar items */


.navbar-nav {
  font-size: 1.0em;
}


/* navbar dropdown items */


.navbar-nav .dropdown-menu {
  font-size: 0.8em;
}


/* navbar dropdown items */









